/** The main board container where dragging and zooming are handled */
.board {
    background: transparent;
    border: none;
    overflow: visible;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;         /* Standard */
}

/** Container for all cell elements, positioned absolutely */
.cell-container {
    width: 100%;
    height: 100%;
}
